@import url('https://fonts.googleapis.com/css2?family=Adamina&family=Ledger&display=swap');

body {

    font-family: "Adamina", "Ledger", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    line-height: 1.5;
    color: rgb(6, 6, 6);

    grid-template-areas:
     "header header"
     "nav    nav"
     "main   main"
     "footer footer";
    display: grid;
    height: auto;
    grid-gap: 10px;
    max-width: 960px;
    margin: 0 auto;
    grid-template-columns: auto;
    grid-template-rows: auto;
    background-color: rgb(171, 232, 150, 0.5);
    background:         linear-gradient(#aee7d8, #72b1df);
} 

header { 
    display: grid;
    margin: auto;
    grid-area: header;
    font-size: 1.5em;
    justify-content: center;
    border-style: solid;
    border-radius: 10px;
    background-color: rgb(251, 251, 251);
    border-radius: 10px; 
    width: 960px;
    max-width: 960px;
    margin-top: 20px;
}

nav {
    display: grid;
    max-width: 960px;
    grid-area: nav;
    text-align: left;
    font-size: 1.5em;
}

#nav {
  border-style: solid;
  border-color: #090909;
  padding-left: 10px;
  width: 950px;
  padding-left: 0px;
  padding-right: 10px;
  margin: auto;
}

#me {
  display: block;
  object-fit: cover;
  border-radius: 10px;
  height: 500px;
  width: 960px;
  margin: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  max-width: 90%;
  padding-top: 30px;
}

#img-container {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 870px;
   height: auto;
   padding-top: 20px;
}


footer { 
  display: grid;
  grid-area: footer;
  font-size: 1em;
  max-width: 960px;
  padding-bottom: 20px;
}

section {
    background-color: rgb(251, 251, 251);
    /* border-radius: 10px; */
}

#contact {
  border-style: solid;
  border-color: #090909;
  white-space: nowrap;
  display: flex;
  column-gap: 10em;
  width: 960px;
  justify-content: center;
  font-size: 26px;
  height: 300px;
  padding-top: 150px;
  max-width: 960px;
  display: flex;
  border-radius: 50%;
  padding-top: 200px;
}

#introduction {
    border-style: solid;
    border-color: #090909;
    line-height: 3.5em;
    text-align: left;
    display: flex;
    justify-content: center;
    max-width: 960px;
    width: 960px;
    padding-bottom: 30px;
    border-radius: 30%;
}

#articles {
    text-align: left;
    border-style: solid;
    border-color: #090909;
    display: flex;
    font-size: 26px;
    width: 960px;
    height: 350px;
    max-width: 960px;
    line-height: 2.5em;
    padding-top: 40px;
}

#resume {
    border-style: solid;
    border-color: #090909;
    width: 960px;
    max-width: 960px;
    align-items: center;
    height: 550px;
    overflow: scroll;
}

#footer {
  padding-left: 30px;
  border-style: solid;
  border-color: #090909;
  font-size: 20px;
  padding:15px;
  border-radius: 10px;
}

#about-me {
    padding-left: 0px;
    text-align: left;
    padding-bottom: 20px;
    padding-top: 20px;
    margin: auto;
}

a:link {
    color: rgb(9, 7, 7);
  }

  a:visited {
    color: rgb(126, 107, 165);
  }

  a:hover {
    background-color: rgb(203, 240, 112);
  }

  a:active {
    box-shadow: 2px 2px 5px rgb(11, 15, 3);
  }

#profile-pic {
  margin: auto;
  margin-left: auto;
  border-style: solid;
  border-color: #090909;
  object-fit: contain;
  max-height: 600px;
  width: 960px;
}

/* .info {
   column-count: 1;
   columns: 5em;
} */

.intro {
  width: 500px;
  display: flex;
  justify-content: center;
  font-size: 27px;
  height: 400px;
  padding-top: 30px;
  text-align: left;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.email{
    display: inline-block;
}

.cell{
    display: inline-block;
}

.links ul{
    list-style-type: none;
    justify-content: space-around;
}

#nav ul{
    list-style-type: none;
    justify-content: space-around;
    display: flex;
    column-gap: 4em;
}

#nav li{
    display: inline-block;
}

#footer ul{
    list-style-type: none;
}

.about-button {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
}

.resume-button {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
}

.related-button {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
}

.contact-button {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 20px;
}

.home-button {
    text-transform: uppercase;
    text-decoration: none; 
  font-size: 20px;

}
