@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Poppins", "Roboto Condensed", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    line-height: 1.5;
    color: #222;

    display: grid;
    grid-template-columns: 2fr, 1fr;
    grid-template-rows: 2fr, 1fr;
    grid-gap: 20px;
    grid-template-areas:
     "header header"
     "nav    nav"
     "main   main"
     "main   main"
     "main   main"
     "footer footer";
    max-width: 960px;
    margin: 0 auto;
} 



header { 
    display: grid;
    grid-gap: 20px;
    max-width: 960px;
    margin: 1 auto;
    grid-area: header;
    padding: 20px;
    font-size: 1.5em;
    justify-content: center;
    border-style: solid;
    border-radius: 10px;
}

nav {
    display: grid;
    grid-gap: 20px;
    max-width: 960px;
    grid-area: nav;
    text-align: left;
}

main { 
    display: grid;
    grid-gap: 20px;
    max-width: 960px;
    grid-area: main; 
}

footer { 
    display: grid;
    grid-gap: 20px;
    max-width: 960px;
    grid-area: footer; 
}

section {
    background-color: rgb(149, 192, 201);
    border-radius: 10px;
}


#header {
    grid-column: 1 / -1;
    font-weight: bold;
}

#gov {
    border-style: dotted;
    border-color: #090909;
    padding-left: 30px;
    padding-right: 25px;
    padding-bottom: 190px;
    max-width: 300px;
}

#introduction {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
    border-style: dotted;
    border-color: #090909;
    text-overflow: clip;
}

#references {
    padding-left: 20px;
    padding-right: 30px;
    border-style: dotted;
    border-color: #090909;
}

#table, #tables, th, td {
    border: 1px solid;
    width: 75%;
    border-collapse: collapse;
}

#economy {
    padding-left: 20px;
    padding-bottom: 145px;
    padding-right: 20px;
    border-style: dotted;
    border-color: #090909;
}

#web-images {
    padding-left: 20px;
    padding-top: 20px;
    border-style: dotted;
    border-color: #090909;
}

#people {
    padding-left: 20px;
    text-align: left;
    padding-right: 20px;
    border-style: dotted;
    border-color: #090909;
    padding-bottom: 370px;
    padding-top: 20px;
}

#footer {
    padding-left: 20px;
    border-style: dotted;
    border-color: #090909;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
}

img {
    border: 5px solid #222;
    border-radius: 10px;
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #nav {
    border-style: dotted;
    border-color: #090909;
  }

  figcaption {
    text-align: center;
  }

  #main {
    grid-column: 1 / -1;
  }

  a:link {
    color: rgb(10, 53, 68);
  }

  a:visited {
    color: rgb(26, 82, 26);
  }

  a:hover {
    background-color: rgb(64, 107, 215);
  }

  a:active {
    box-shadow: 2px 2px 5px rgb(179, 4, 158);
  }
  