@import url('https://fonts.googleapis.com/css2?family=Adamina&family=Ledger&display=swap');

body {

    font-family: "Adamina", "Ledger", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    line-height: 1.5;
    color: rgb(47, 40, 45);

    grid-template-areas:
     "header header"
     "nav    main"
     "footer footer";
    display: grid;
    grid-gap: 10px;
    max-width: 80%;
    margin: auto;
} 

header { 
    display: grid;
    /* margin: auto; */
    grid-area: header;
    font-size: 1.5em;
    justify-content: center;
    border-style: solid;
    border-radius: 10px;
    background-color: rgb(241, 180, 244);
    border-radius: 10px; 
    width: 80%;
}

nav {
    display: grid;
    max-width: 960px;
    grid-area: nav;
    text-align: left;
    line-height: 3;
    font-size: 1.5em;
    margin-right: 0px;
    margin-bottom: 0px;
}

#nav {
    border-style: solid;
    border-color: #090909;
    padding-left: 10px;
    margin-right: 0px;
    margin-left: 40px;
  }

.me {
    display: block;
    object-fit: contain;
    /* max-height: 400px;
    width: 600px; 
    height: auto; */
    margin-left: 10px;
    border-radius: 10px;
}

img {
    display: block;
    /* max-height: 380px; */
    max-width: 55%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    object-fit: contain;
    overflow: scroll;
}

.img-container {
   display: block;
   overflow: scroll;
   margin-left: auto;
   margin-right: auto;
   width: max-content;
   height: 300px;
}


footer { 
    display: grid;
    max-width: 960px;
    grid-area: footer; 
    padding: 20px 20px;
    font-size: 1em;
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 10px;
    grid-gap: 5px;
}

section {
    background-color: rgb(241, 180, 244);
    border-radius: 10px;
}

#contact {
    padding-left: 20px;
    padding-right: 750px;
    border-style: solid;
    border-color: #090909;
    padding-bottom: 20px;
    padding-top: 20px;
    white-space: nowrap;
    margin-left: 30px;
    display: block;
}

#introduction {
  padding-left: 40px;
  padding-right: 100px;
  border-style: solid;
  border-color: #090909;
  padding-bottom: 10px;
  padding-top: 10px;
  line-height: 1.5em;
  text-align: left;
  margin-left: 40px;
  display: flex;
  justify-content: center;
}

#articles {
    padding-left: 60px;
    text-align: left;
    border-style: solid;
    border-color: #090909;
    padding-bottom: 20px;
    padding-top: 20px;
    margin: auto;
    line-height: 2em;
    display: inline-block;
    margin-left: 55px;
    margin-right: 0px;
    padding-right: 300px;
}

#resume {
    border-style: solid;
    border-color: #090909;
    width: 800px;
    margin: auto;
    overflow-x: scroll;
    align-items: center;
    column-width: 60em;
}

#footer {
    padding-left: 30px;
    border-style: solid;
    border-color: #090909;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    margin-top: 0px;
    margin-left: 5px;
}

#about-me {
    padding-left: 0px;
    text-align: left;
    padding-right: 800px;
    border-style: solid;
    border-color: #090909;
    padding-bottom: 20px;
    padding-top: 20px;
    margin: auto;
}

a:link {
    color: rgb(229, 67, 35);
  }

  a:visited {
    color: rgb(15, 27, 249);
  }

  a:hover {
    background-color: rgb(3, 192, 72);
  }

  a:active {
    box-shadow: 2px 2px 5px rgb(11, 15, 3);
  }

#profile-pic {
    margin: auto;
    border-style: solid;
    border-color: #090909;
    object-fit: contain;
    /* max-height: 550px;
    max-width: 800px; */
}

.info {
   column-count: 1;
   columns: 5em;
}

.intro {
  column-width: 700px;
  max-width: 60%;
  display: flex;
  justify-content: center;
}

.email{
    display: inline;
}

.cell{
    display: inline;
}
